@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.font-luckiest {
  font-family: 'Luckiest Guy', cursive;
}

.slick-slide {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  height: 21rem;
}

.slick-center {
  opacity: 1 !important;
}

.slick-center .overlay {
  opacity: 0 !important;
}

.slick-slide .slick-slide-inner {
  transform: scale(0.75);
  transition: transform 0.3s ease-in-out;
}

.slick-center .slick-slide-inner {
  transform: scale(1);
}

.button-overlay {
  background-image: url('/images/Group.png');
  /* Replace with your image URL */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  /* Text color */
  padding: 2rem;
  /* Adjust padding to maintain aspect ratio */
  min-width: 150px;
  /* Minimum width */
  aspect-ratio: 2 / 1;
  /* Aspect ratio for the button */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  /* Rounded corners */
  transition: transform 0.3s ease;
  /* Button hover effect */
}

.button-overlay:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
}