@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.font-luckiest {
  font-family: 'Luckiest Guy', cursive;
}

.slick-slide {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  height: 21rem;
}

.slick-center {
  opacity: 1 !important;
}

.slick-center .overlay {
  opacity: 0 !important;
}

.slick-slide .slick-slide-inner {
  transform: scale(0.75);
  transition: transform 0.3s ease-in-out;
}

.slick-center .slick-slide-inner {
  transform: scale(1);
}

.slick-track {
  height: 32rem;
}

.button-overlay {
  background-image: url('/images/Group.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 2rem;
  min-width: 150px;
  aspect-ratio: 2 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.button-overlay:hover {
  transform: scale(1.05);
}